<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>
      Hello this is student template
    </h1>
    
    {% if  student_data %}
      <h1>Student List </h1>
      <ul>
        
        {% for student in student_data  %}

        <li>
         {{student.name}}  {{student.email}}
        </li>
          
        {% endfor %}
          
      </ul>
      {% else %}
      <h1>No data</h1>
    {% endif %}
      
  </body>
</html>
